{% extends 'base.html' %}
{% load static %}

{% block title %}
main
{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ledger&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<div id="carouselExampleCaptions" class="carousel slide" id="slider">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'main/img/1.jpg' %}" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>Бажаєте записатись на консультацію? <br>Опишіть свою проблему і ми зателефонуємо вам!</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="consultation">Запис на консультацію</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'main/img/2.jpg' %}" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>Бажаєте записатись на консультацію? <br>Опишіть свою проблему і ми зателефонуємо вам!</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="consultation">Запис на консультацію</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'main/img/3.jpg' %}" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>Бажаєте записатись на консультацію? <br>Опишіть свою проблему і ми зателефонуємо вам!</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="consultation">Запис на консультацію</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="{% static 'main/img/4.jpg' %}" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <p>Бажаєте записатись на консультацію? <br>Опишіть свою проблему і ми зателефонуємо вам!</p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" id="consultation">Запис на консультацію</button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h2>Стоматологічні послуги клініки Здорова посмішка – приватна стоматологія Дніпро</h2>

<div class="container">
    <div class="card">
        <img src="{% static 'main/img/01.jpg' %}" alt="">
        <p class="title">Професійне чищення зубів</p>
        <p class="notitle">Глибоке очищення зубів від нальоту та зубного каменю</p>
    </div>

    <div class="card">
        <img src="{% static 'main/img/02.jpg' %}" alt="">
        <p class="title">Відбілювання зубів</p>
        <p class="notitle">Поліпшення кольору зубів для яскравішої усмішки</p>
    </div>

    <div class="card">
        <img src="{% static 'main/img/03.jpg' %}" alt="">
        <p class="title">Хірургічні втручання</p>
        <p class="notitle">Видалення зубів, імплантація та інші стоматологічні операції</p>
    </div>

    <div class="card">
        <img src="{% static 'main/img/04.jpg' %}" alt="">
        <p class="title">Ортодонтичні послуги</p>
        <p class="notitle">Виправлення прикусу та вирівнювання зубів за допомогою брекетів і кап</p>
    </div>
</div>


  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title fs-5" id="myModalLabel">Заповніть форму</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="POST" class="appointmentForm">
            {% csrf_token %}
            <input type="text" placeholder="Ваше ім'я" name="name">
            <input type="text" placeholder="Ваша ел.пошта" name="email">
            <input type="text" placeholder="Проблема" name="problem">
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Відправити</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>

<a href="/services"><button id="all">Всі послуги</button></a>

<h2>Наші контакти</h2>
<div class="contacts-main">
    <div class="class1">
      <h3 align="center">&#128205;</h3>
      <p align="center">Вул. Глобинська 1</p>
    </div>

    <div class="class1">
      <h3 align="center">&#128336;</h3>
      <p align="center">Пн.-Нд. з 08:00 до 20:00</p>
    </div>
  
    <div class="class1">
      <h3 align="center">&#128222;</h3>
      <p align="center">+38 (063) 4807042</p>
  </div>
</div>
{% endblock %}