.container {
    width: 400px;
    background-color: white;
    border: 3px solid black;
    padding: 30px;
    border-radius: 10px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.container h1 {
    font-size: 16px;
    margin: 0 0 10px 0;
    color: #333;
}

.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #00cfff;
    border-radius: 20px; /* Скругление углов */
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Ledger", serif;
    font-weight: 400;
    font-style: normal;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #00cfff;
    border: none;
    border-radius: 20px; /* Скругление углов */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.container button:hover {
    background-color: #00b8e6;
}

.container p {
    margin-top: 20px;
    color: #333;
    text-align: center;
}

.container p a {
    color: #00cfff;
    text-decoration: none;
    font-weight: bold;
}

.container p a:hover {
    text-decoration: underline;
}