* {
    margin: 0;
    padding: 0;
}

.low_intelect, #auth, #authorized{
    margin-top: 70px;
}

p#authorized {
    margin-top: 42px;
}

#authorized p {
    text-decoration: none;
    color: darkblue;
}

#authorized {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: darkblue;
    font-style: italic;
}

#authorized p {
    font-size: large;
    text-decoration: underline;
    color: darkblue;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: "Ledger", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #FFFF;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

footer {
    margin-top: 30px;
    background-color: #efebeb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 350px;
    gap: 200px;
    padding: 10px 0;
}

footer a,
footer p {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    color: #7a7a7a;
    font-style: normal;
    font-size: 18px;
}

.menu-footer a,
.contacts-footer p {
    display: flex;
    text-decoration: none;
    color: rgb(90, 90, 90);
    font-size: 19px;
    margin-top: 10px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

header nav a, header nav p {
    text-decoration: none;
    margin: 30px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    color: #7a7a7a;
    font-style: normal;
    font-size: 20px;
    margin-top: 40px;
}

header nav a:hover {
    text-decoration: underline;
}

main{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.burgermenu {
    display: none;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

@media (max-width: 900px) {
    .burgermenu {
        display: inline-block;
    }

    nav.d-none.d-lg-flex {
        display: none !important;
    }

    #header_in_burger a, #header_in_burger p {
        margin: 10px;

    }

    #header_in_burger {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin-top: 0px;
        height: auto;
        overflow: visible; 
        gap: 20px;
    }

}

#logo {
    width: 140px;
    height: 140px;
    display: flex;
    margin: -35px;
}

.contacts-footer img {
    width: 30px;
    height: 30px;
}

.footer-info {
    display: flex;
    align-items: center;
}