<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'login/css/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    {% block links %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="burgermenu d-lg-none">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasBurger" role="button" aria-controls="offcanvasBurger">Меню</a>
            <div class="offcanvas offcanvas-start bg-dark" tabindex="-1" id="offcanvasBurger" aria-labelledby="offcanvasBurgerLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title text-white" id="offcanvasWithBothOptionsLabel">Здорова посмішка</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <nav class="offcanvas-body">
                    <nav id = 'header_in_burger'>
                        {% if user.is_authenticated %}
                            <p id='authorized' class="text-black">{{ user.username }}</p>
                            <form method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Вийти з аккаунту</button>
                            </form>
                        {% else %}
                            <a href="{% url 'auth_page' %}" class="text-white">Авторизуйтесь або зареєструйтесь</a>
                        {% endif %}
                        <a href="/" class="text-white">Головна</a>
                        <a href="/services" class="text-white">Послуги</a>
                        <a href="/price" class="text-white">Ціни</a>
                        <a href="/contacts" class="text-white">Контакти</a>
                        <a href="/info" class="text-white">Інформація</a>
                    </nav>
                </nav>
            </div>
        </div>
        
        <nav class="d-none d-lg-flex">
            <!-- <a href="/" id="aLogo"><img src="{% static 'login/img/logo.png' %}" alt="" id="logo" ></a> -->
            <a class = 'low_intelect' href="/">Головна</a>
            <a class = 'low_intelect' href="/services">Послуги</a>
            <a class = 'low_intelect' href="/price">Ціни</a>
            <a class = 'low_intelect' href="/contacts">Контакти</a>
            <a class = 'low_intelect' href="/info">Інформація</a>
            {% if user.is_authenticated %}
                <p id='authorized' class="text-black">{{ user.username }}</p>
                <form method="POST" action="{% url 'logout' %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Вийти з аккаунту</button>
                </form>
            {% else %}
                <a href="{% url 'auth_page' %}" id="auth">Авторизуйтесь або зареєструйтесь</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <iframe id="card" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2646.4317023500835!2d35.056404076648505!3d48.44824597127946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40dbe32baba70def%3A0xe5ca0dfcf2164d15!2z0KHRgtC-0LzQsNGC0L7Qu9C-0LPQuNGH0LXRgdC60LjQuSDRhtC10L3RgtGAICLQl9C00L7RgNC-0LLQsNGPINGD0LvRi9Cx0LrQsCI!5e0!3m2!1suk!2sua!4v1718183846961!5m2!1suk!2sua" width="700px" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <div class="menu-footer">
            <h4>Меню</h4>
            <a class = 'footer-menu' href="/">Головна</a>
            <a class = 'footer-menu' href="/services">Послуги</a>
            <a class = 'footer-menu' href="/price">Ціни</a>
            <a class = 'footer-menu' href="/contacts">Контакти</a>
            <a class = 'footer-menu' href="/info">Інформація</a>
        </div>

        <div class="contacts-footer">
            <h4>Контакти</h4>
            <div class="footer-info">
                <img src="{% static 'login/img/location.png' %}" alt="">
                <p>м.Дніпро,<br> вул. Глобинська, 1</p>
            </div>

            <div class="footer-info">
                <img src="{% static 'login/img/phone.png' %}" alt="">
                <p>+38 (063) 480 70 42</p>
            </div>

            <div class="footer-info">
                <img src="{% static 'login/img/time.png' %}" alt="">
                <p>Пн.-Нд. з 08:00 до 20:00</p>
            </div>

            <div class="footer-info">
                <img src="{% static 'login/img/time.png' %}" alt="">
                <p>Пн.-Нд. з 08:00 до 20:00</p>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>