body {
    height: auto;
    width: auto;
}

h1 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    margin-top: 18px;
    font-family: "Vollkorn SC", serif;
    font-weight: 700;
    font-style: normal;
}

div{
    margin: 12px;
}

#consultation{
    border: 2px solid #3430E8;
    border-radius: 40px;
    width: 320px;
    height: 70px;
    font-size: 26px;
}

#consultation:hover{
    border: 2px solid #8A88FD;
}

.card{
    width: 230px;
    height: 350px;
    background-color: #D4E8F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

.container .notitle{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.container .title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
} 

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card img {
    top: 0;
    width: 100px;
    height: auto;
    margin-bottom: 40px;
}

.appointmentForm {
    background-color: #8f9297;
    padding: 20px;
    border-radius: 10px;
}

.appointmentForm input,
.appointmentForm textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #00b7ff;
    background-color: transparent;
    color: black;
    font-size: 18px;
}

.appointmentForm input::placeholder,
.appointmentForm textarea::placeholder {
    color: black;
}

.appointmentForm .btn {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #00b7ff;
    background-color: transparent;
    color: black;
    font-size: 18px;
}

.appointmentForm .btn:hover {
    background-color: #00b7ff;
    color: white;
}

#all {
    position: relative;
    width: 250px;
    height: 70px;
    border-radius: 30px;
    font-size: 27px;
    background-color: #05426C;
    color: white;
    margin: 10px;
    border-color: white;
    transition: color 0.5s ease;
}

#all:before {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 60px;
	background-color: white;
	border-radius: 5px;
	transition: all 0.5s ease;
    color: black;
}

#all:hover {
    color: black;
    background-color: #ffffff;
}

.carousel-item {
    position: relative;
    width: 100%;
    height: 900px;
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 65%);
    pointer-events: none; 
}

.carousel-item p {
    font-size: 26px;
    color: #333333;
    font-family: "Montserrat", Sans-serif;
    font-weight: 400;
    line-height: 46px;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    border-radius: 50%;
    width: 52px;
    height: 54px;
    line-height: 50px;
    border: 3px solid rgb(17, 72, 221);
}

.carousel-control-prev {
    left: -4%;
}

.carousel-control-next {
    right: -4%;
}

.carousel-caption {
    margin-bottom: 250px;
    bottom: 100px;
    text-align: left;
    margin-left: -180px; 
}

h2 {
    color: #333333;
    font-family: "Montserrat", Sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 46px;
    margin: 10px;
}

.contacts-main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 300px;
}

.contacts-main p {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    color: #7a7a7a;
    font-style: normal;
    font-size: 21px;
}